
/* DO NOT COPY THIS -- FOR DEMO ONLY */
/* SET OVERFLOW HIDDEN IN JS MANUALLY */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    /* overflow-x: scroll; */
  }

/* Z-INDEXES */
/*
#camera, #camera-vid, #camera-canvas: 991
.wireframe: 992
.camera-btn: 993
.taken (actual picture): 994
*/

/* for dark background, and scrolling toggle */
  #full-viewfinder-container {
    height: 100vh;
}

/* item 1 */
#camera-container {
    display: none;
    height: max-content;
}

/* item 2 */
#remainder-container {
    display: none;
}

#btn-prompt-container  {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#wireframe-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* wont really be used anyway?*/
#result-container {
    display: none;
    text-align: center;
    /* position: absolute;
    top: 0; */
}

#activate-btn-container  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#activate-btn {
    text-align: center;
}

#camera-btn {
    z-index: 993;
}

#wireframe {
    z-index: 992;
}

#camera-vid{
    position: absolute;
    object-fit: cover;
    z-index: 991;
    object-position: center center !important;
}

#camera-canvas{
    position: absolute;
    z-index: 991;
    object-position: center center !important;
}

.taken{
    z-index: 994;
}

#capture-prompt {
    color: white;
    margin: 0.5em 1em;
}