html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    font-family: "NexaBold";
  }

p{
    width: fit-content;
}

  /* initial val */
#full-cam-container {
    display: none;
}

#activate-btn {
    cursor: pointer;
    width: 150px;
    background-color: orange;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    top: 40px;
    /* margin: 0 50%; */
}
  
#camera, #camera-view, #camera-canvas{
    position: absolute;
    left: 0;
    top: 0;
    /* height: 550px;
    width: 320px; */
    text-align: center;
    object-fit: cover;
    z-index: 1;
}

/* removed bc current implementation flips this?? */
/* #camera-view, #camera-canvas, #pic-output{
    transform: scaleX(-1);
    filter: FlipH;
} */

#camera-btn {
    cursor: pointer;
    width: 100px;
    /* margin-left: 20%; */
    background-color: orange;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    position: fixed;
    left: 45%;
    bottom: 40px;
    z-index: 4;
}

#camera-btn:hover, #activate-btn:hover {
    background-color: darkorange;
}

.taken{
    /* height: 150px!important;
    width: 150px!important; */
    transition: all 0.5s ease-in;
    border: solid 3px white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    /* top: 20px;
    right: 20px; */
    z-index: 6;
}

#img-overlay {
    opacity: 0.5;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#img-prompt {
    z-index: 2;
    /* text-align: center !important;
    width: auto;
    /* position: fixed; */
    /* bottom: 85; */
    /*color: white; */
}

#btn-container {
    display: none;
    text-align: center;
}

#activate-btn-container {
    text-align: center;
}

#retake-btn, #upload-btn {
    display: inline;
    cursor: pointer;
    width: 150px;
    margin: 10px;
    background-color: green;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    /* position: fixed;
    top: 40px; */
}

#retake-btn:hover, #upload-btn:hover {
    background-color: darkgreen;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

  .center-prompt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    color: white;
    position: relative;
    bottom: 80;
    z-index: 2;
  }

  .center-wireframe {
    display: flex;
    margin: 0 auto;
    margin-bottom: 15%;
    position:sticky;
    z-index: 2;
    border: none;
    /* color: white; */
  }

/* @media (max-width:420px){

    #camera, #camera-view, #camera-canvas{
        height: 550px;
        width: 320px;
    }
    
} */

#debug-lat, #debug-lon, #debug-label{
    display: block;
    position:sticky;
    z-index: 12;
    color: white;
    font-size: 14pt;
}

#err-instructions {
    z-index: 13;
    display: none;
    color: black;
    text-align: center;
}