/* Z-INDEXES */
/* #coord-num, #ready-text (display for location readings): 999
#camera, #camera-view, #camera-canvas: 1
.center-wireframe: 2
.camera-btn: 3
.taken (actual picture): 4
#err-instructions (show on location prompt error): 13 (why.)*/


html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    font-family: "NexaBold";
  }

p{
    width: fit-content;
}

/* initial val, to be changed in js on permission start */
#full-cam-container {
    display: none;
    width: 500;
    height: 500;
    border: 2px solid orange;
}

#btn-wireframe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* position: relative; */
    width: 400;
    height: 400;
}

#result-container {
    display: none;
    text-align: center;
}

#activate-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#activate-btn {
    cursor: pointer;
    width: 150px;
    background-color: orange;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    display: block;
    margin: 0 auto;
}

#camera-btn {
    cursor: pointer;
    width: 100px;
    /* margin-left: 20%; */
    background-color: orange;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    display: block;
    position: relative;
    left: 40%;
    bottom: 0px;
    z-index: 3;
}

#camera-btn:hover, #activate-btn:hover {
    background-color: darkorange;
}

#retake-btn, #done-btn {
    display: inline;
    cursor: pointer;
    width: 150px;
    margin: 10px;
    background-color: teal;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

#done-btn:disabled, #camera-btn:disabled {
    cursor: not-allowed;
}

#retake-btn:hover, #upload-btn:hover {
    background-color: darkgreen;
}
  
#camera, #camera-view, #camera-canvas{
    position: absolute;
    left: 0;
    top: 0;
    /* height: 550px;
    width: 320px; */
    text-align: center;
    object-fit: cover;
    z-index: 1;
}

.taken{
    /* height: 150px!important;
    width: 150px!important; */
    transition: all 0.5s ease-in;
    border: solid 3px white;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    /* top: 20px;
    right: 20px; */
    z-index: 4;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
  }

.center-wireframe {
    display: flex;
    margin: 0 auto;
    /* margin-bottom: 15%; */
    position:sticky;
    z-index: 2;
    border: none;
}
 

/* #debug-lat, #debug-lon, #debug-label{
    position: relative;
    z-index: 999;
    color: black;
    font-size: 14pt;
    display: inline;
} */

#err-instructions {
    z-index: 13;
    display: none;
    color: black;
    text-align: center;
}

#coord-num, #ready-text {
    position: relative;
    margin: 0 auto;
    text-align: center;
    color: red;
    z-index: 999;
    display: none;
}

#full-viewfinder-container {
    width: 500px;
    height: 500px;
}